*~
__pycache__/
*.pyc
.vscode
outputs/
renders/
data/
venv/
static/
source_videos
source_videos/
overlay_images/
index.html
3dgs_deblur_paper_files/
3dgs_deblur_paper.html
*.py
README.md
*.bib
LICENSE
NOTICE
scripts/
.gitmodules